<!doctype HTML>
<html ng-app="randomWalkersApp">
  <head>
    <title>Random Walkers</title>
    <link rel="stylesheet" href="../../stylesheets/sim.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="particle.js"></script>
    <script src="rw-model.js"></script>  
    <script src="random-walkers-app.js"></script>    
  </head>

  <body ng-controller="RandomWalkersCtrl">
    <header>
      <h2>Random Walkers</h2>
    </header>

    <sim-canvas class="sim-canvas"> </sim-canvas>

    <section class="sim-controls">
      <input value="{{simRunning ? 'Stop' : 'Start'}}" ng-click="startStopSim()" type="button" class="btn-style" title="startStop">
      <input ng-disabled="simRunning" ng-click="clearSim()" type="button" class="btn-style" value="Clear" title="clear">
    </section>

    <section>
      <table class="sim-results">
        <tr>
          <th></th>
          <th class="th-row">x</th>
          <th class="th-row">y</th>
          <th class="th-row">r</th>
        </tr>
        <tr>
          <th>Mean displacement</th>
          <td title="xMean">{{obs.xMean}}</td>
          <td title="yMean">{{obs.yMean}}</td>
          <td title="rMean">{{obs.rMean}}</td>
        </tr>
        <tr>
          <th>Mean square distance</th>
          <td title="xMSD">{{obs.xMSD}}</td>
          <td title="yMSD">{{obs.yMSD}}</td>
          <td title="rMSD">{{obs.rMSD}}</td>
        </tr>
        <tr>
          <th>Root mean square distance</th>
          <td title="xRMSD">{{obs.xRMSD}}</td>
          <td title="yRMSD">{{obs.yRMSD}}</td>
          <td title="rRMSD">{{obs.rRMSD}}</td>
        </tr>
        <tr><td class="table-break" colspan="4"></td></tr>
        <tr>
          <th>Total steps</th>
          <td title="totalSteps">{{totalSteps}}</td>
        </tr>
        <tr>
          <th>Steps*step size</th>
          <td title="stepsByStepSize">{{obs.stepsByStepSize}}</td>
        </tr>
      </table>
    </section>


  </body>

</html>
